@model AspNetIdentity.Models.DTO.ChangePasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <h3>Registration</h3>
                <form asp-action="ChangePassword" method="post">
                    <div class="form-group">
                        <label>Current Password*</label>
                        <input type="password" class="form-control" asp-for="CurrentPassword" />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>

                    <div class="form-group">
                        <label>New Password*</label>
                        <input type="password" class="form-control" asp-for="NewPassword" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>

                    <div class="form-group">
                        <label>Confirm New Password*</label>
                        <input type="password" class="form-control" asp-for="PasswordConfirm" />
                        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>

                    </div>

                    @if (TempData["msg"] != null)
                    {
                        <div class="form-group">
                            <span class="text-info">@TempData["msg"]</span>
                        </div>
                    }

                    <button type="submit" class="btn btn-info">Save</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
